/*******************************************************************************
 *
 * $RESETS
 *
 ******************************************************************************/


*
{
  cursor: inherit;
  box-sizing: border-box;
}

input, select, textarea, a[href]
{
  cursor: auto;
}

html, input, select, textarea, button, legend
{
  font: caption;
  color: inherit;
}

html, body
{
  border: 0;
  padding: 0;
  margin: 0;
  cursor: default;
}

html
{
  line-height: 1em;
  overflow: hidden;
}

body
{
  /* (i) If background color was set for HTML the background color for BODY
   * would not take effect. Not sure why this is. (Tested only in IE10.)
   */
  color: WindowText;
  background: Window;
}
body.platform-windows
{
  background: ThreeDFace;
}

/* Windows 8.1 (Or IE11?), or setting text scaling will cause text ir appear
 * too big under Windows. Setting explicit size in points appear to make things
 * better.
 */
.platform-windows,
.platform-windows input,
.platform-windows select,
.platform-windows textarea,
.platform-windows button,
.platform-windows legend
{
  font-size: 9pt;
}


/*******************************************************************************
 *
 * $GENERIC
 *
 ******************************************************************************/


.warning
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  padding: 0.5em;
  color: #000;
  background: #fec;
  border-bottom: 1px solid #dca;
}


/*******************************************************************************
 *
 * $CONTROL
 *
 ******************************************************************************/


.control
{
  position: absolute;
}


/*******************************************************************************
 *
 * $CONTAINER
 *
 ******************************************************************************/


.container
{
  overflow: hidden;
}


/*******************************************************************************
 *
 * $CHECKBOX
 *
 ******************************************************************************/

.control-checkbox
{
  line-height: 1em;
}

.control-checkbox input
{
  padding: 0;
  margin: 0 0.3em 0 0;
  vertical-align: bottom;
}


/*******************************************************************************
 *
 * $GROUPBOX
 *
 ******************************************************************************/


.platform-osx .control-groupbox
{
  border-width: 1px;
}


/*******************************************************************************
 *
 * $LABEL
 *
 ******************************************************************************/


.control-label a
{
  display: inline-block;
  width: 100%;
  height: 100%;
}


/*******************************************************************************
 *
 * $LISTBOX
 *
 ******************************************************************************/


.control-listbox select
{
  width: 100%;
  height: 100%;
}


/*******************************************************************************
 *
 * $RADIOBUTTON
 *
 ******************************************************************************/

.control-radiobutton
{
  line-height: 1em;
}

.control-radiobutton input
{
  padding: 0;
  margin: 0 0.3em 0 0;
  vertical-align: bottom;
}


/*******************************************************************************
 *
 * $TEXTBOX
 *
 ******************************************************************************/


.control-textbox input,
.control-textbox textarea
{
  width: 100%;
  height: 100%;
}
