fieldset {
  margin: 10px;
}

label {
  display: block;
  position: relative;
  margin: 10px 5px 15px 5px;
}

label.checkbox {
  padding-left: 60px; /* -2px for invisible space */
}
label.checkbox  input {
  vertical-align: -2px;
}

label.droplist span {
  display: inline-block;
  text-align: right;
  min-width: 60px; /* -5px for padding */
}
label.droplist select {
  position: relative;
  left: 0;
  width: 150px;
}

#footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
